.appBar {
    max-height: 60px;
    background-color: #F9F9F9;
    color: black;

    button {
        padding: 0;


        .icon {
            position: initial;
            width: inherit;
            height: inherit;
            line-height: 3.6rem !important;
        }
    }
}

