.appBar {
    background-color: white;
    color: black;

    button {
        padding: 0;


        .icon {
            position: initial;
            width: inherit;
            height: inherit;
            line-height: 3.6rem !important;
        }
    }
}

